.main {
    
}
/* -------section-------- */
.about {
    width: 1169px;
    height: 500px;
    display:flex;
    flex-wrap:wrap;

}

/* -----title----- */
.about-block-title {
    width: 100%;
    height: 180px;
    text-align: center;


}

.about-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
}
.about-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #4D4943;
    margin-bottom: 50px;
}
.line {
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: #000000;
}

/* -----left-grid//right-flex----- */

/* left */
.left-right {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left { 

    width: 50%;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}
.left-img {
}
.img1 {
}
.img2 {
}
.img3 {
}
.img4 {
}

/* right */


.right {

    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.consulting-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #333333;
}
.business {
    color: #333333;;
}
.consulting {
    color: #F1AD1D;
}
.consulting-text {
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.consulting-text1 {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}
.consulting-text2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;;
    color: #505050;
}

.projects {
    width: 175px;
    height: 70px;
    background-color: #F1AD1D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-projects {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #FFFFFF;
    text-decoration: none;
}